// Crearing some variables
$color_front: #fa5252;
$color_back: #f76707;
$color_right: #12b886;
$color_left: #4cbef5;
$color_top: #fab005;
$color_bottom: #7950f2;

/* Function */
@mixin blocks($colors) {
  .blocks {
    display: flex;
    div {
      width: 67px;
      height: 67px;
      background: $colors;
      border: 0.2px solid #000;
      background: rgba($color: $colors, $alpha: 1);
    }
  }
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(26, 51, 68);
}

.scene {
  width: 200px;
  height: 200px;
  margin: 80px;
  perspective: 1000px;
}

.cube {
  /* Animation */
  @keyframes cube1 {
    0% {
      transform: rotateX(-200deg) rotateY(0deg) rotateZ(180deg);
    }
    100% {
      transform: rotateX(-200deg) rotateY(359deg) rotateZ(180deg);
    }
  }
  @keyframes cube2 {
    0% {
      transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(-360deg) rotateY(-20deg) rotateZ(0deg);
    }
  }

  * {
    box-sizing: border-box;
  }

  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  &.one {
    transform: rotateX(-200deg) rotateY(10deg) rotateZ(180deg);
    animation: cube1 5s infinite linear;
    right: 200px;
  }
  &.two {
    transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    left: 200px;
    animation: cube2 5s infinite linear;
  }
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  &--front {
    transform: rotateY(0deg) translateZ(100px);
    @include blocks($color_front);
  }
  &--right {
    transform: rotateY(90deg) translateZ(100px);
    @include blocks($color_right);
  }
  &--back {
    transform: rotateY(180deg) translateZ(100px);
    @include blocks($color_back);
  }
  &--left {
    transform: rotateY(-90deg) translateZ(100px);
    @include blocks($color_left);
  }
  &--top {
    transform: rotateX(90deg) translateZ(100px);
    @include blocks($color_top);
  }
  &--bottom {
    transform: rotateX(-90deg) translateZ(100px);
    @include blocks($color_bottom);
  }
}
