/* Function */
body {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #1a3344;
}

.scene {
  width: 200px;
  height: 200px;
  margin: 80px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.cube {
  /* Animation */
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@-webkit-keyframes cube1 {
  0% {
    -webkit-transform: rotateX(-200deg) rotateY(0deg) rotateZ(180deg);
            transform: rotateX(-200deg) rotateY(0deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateX(-200deg) rotateY(359deg) rotateZ(180deg);
            transform: rotateX(-200deg) rotateY(359deg) rotateZ(180deg);
  }
}

@keyframes cube1 {
  0% {
    -webkit-transform: rotateX(-200deg) rotateY(0deg) rotateZ(180deg);
            transform: rotateX(-200deg) rotateY(0deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateX(-200deg) rotateY(359deg) rotateZ(180deg);
            transform: rotateX(-200deg) rotateY(359deg) rotateZ(180deg);
  }
}

@-webkit-keyframes cube2 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(-20deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(-20deg) rotateZ(0deg);
  }
}

@keyframes cube2 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg) rotateY(-20deg) rotateZ(0deg);
            transform: rotateX(-360deg) rotateY(-20deg) rotateZ(0deg);
  }
}

.cube * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cube.one {
  -webkit-transform: rotateX(-200deg) rotateY(10deg) rotateZ(180deg);
          transform: rotateX(-200deg) rotateY(10deg) rotateZ(180deg);
  -webkit-animation: cube1 5s infinite linear;
          animation: cube1 5s infinite linear;
  right: 200px;
}

.cube.two {
  -webkit-transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
          transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
  left: 200px;
  -webkit-animation: cube2 5s infinite linear;
          animation: cube2 5s infinite linear;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
}

.cube__face--front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
}

.cube__face--front .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cube__face--front .blocks div {
  width: 67px;
  height: 67px;
  background: #fa5252;
  border: 0.2px solid #000;
  background: #fa5252;
}

.cube__face--right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.cube__face--right .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cube__face--right .blocks div {
  width: 67px;
  height: 67px;
  background: #12b886;
  border: 0.2px solid #000;
  background: #12b886;
}

.cube__face--back {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}

.cube__face--back .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cube__face--back .blocks div {
  width: 67px;
  height: 67px;
  background: #f76707;
  border: 0.2px solid #000;
  background: #f76707;
}

.cube__face--left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--left .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cube__face--left .blocks div {
  width: 67px;
  height: 67px;
  background: #4cbef5;
  border: 0.2px solid #000;
  background: #4cbef5;
}

.cube__face--top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.cube__face--top .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cube__face--top .blocks div {
  width: 67px;
  height: 67px;
  background: #fab005;
  border: 0.2px solid #000;
  background: #fab005;
}

.cube__face--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

.cube__face--bottom .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cube__face--bottom .blocks div {
  width: 67px;
  height: 67px;
  background: #7950f2;
  border: 0.2px solid #000;
  background: #7950f2;
}
/*# sourceMappingURL=style.css.map */